.idea/
*.egg-info/
__pycache__/
build/
dist/
/venv/
.ipynb_checkpoints/

**.DS_Store

/BPIC11_f1/
/BPIC11_f2/
/BPIC11_f3/
/BPIC11_f4/
/BPIC15_1_f2/
/BPIC15_2_f2/
/BPIC15_3_f2/
/BPIC15_4_f2/
/BPIC15_5_f2/
/bpic2012_O_ACCEPTED-COMPLETE/
/bpic2012_O_CANCELLED-COMPLETE/
/bpic2012_O_DECLINED-COMPLETE/
/conformance_cf_results_all_encs/
/counterfactual_results/
/declare4py/
/declare_models/
/DiCE/
/eval_graphs_last/
/eval_graphs_no_debug/
/evaluation_query_conformance/
/evaluation_query_conformance_complex/
/evaluation_query_conformance_mating/
/evaluation_results_parents_filtering/
/evaluation_results_parents_loss/
/full_no_data_dec/
/output_data/
/process_models/
/process_models_complex/
/process_models_prefix_length/
/process_models_regular/
/Production/
/sepsis_cases_1/
/sepsis_cases_2/
/sepsis_cases_4/
/subset_test_dfs/
/synthetic_bank_accepted/
/synthetic_bank_cancelled/
/synthetic_bank_declined/
/synthetic_data/
/test_plots/
/traffic_fines_1/
/experiments
/experiments
datasets/PurchasingExample/results/simulated_log_PurchasingExample_.csv
exported.xes
gaussian_mixture.py
exported.xes
experiments/SynLoan_train_df.csv
experiments/SynLoan_cf.csv
datasets/SynLoan/SynLoan_prf_meta.json
experiments/SynLoan_cf.csv
experiments/SynLoan_train_df.csv
experiments/SynLoan_train_df.csv
datasets/PurchasingExample/results/simulated_log_PurchasingExample_.csv
datasets/Productions/results/simulated_log_Productions_.csv
datasets/ConsultaDataMining201618/results/simulated_log_ConsultaDataMining201618_.csv
datasets/Productions/results/simulated_log_Productions_.csv
datasets/SynLoan/results/simulated_log_SynLoan_.csv
datasets/SynLoan/results/simulated_log_SynLoan_0.1.csv
experiments/SynLoan_cf.csv
experiments/SynLoan_train_df.csv
exported.xes
requirements.txt
experiments/SynLoan_cf.csv
datasets/SynLoan/results/simulated_log_SynLoan_.csv
datasets/Productions/results/simulated_log_Productions_.csv
new_rims/simulated_log_sepsis_.csv
Overlap_error_start.ipynb
Overlap_error_start.ipynb
/other_materials
